.avatar {
  &__inner {
    display: grid;
    gap: 1rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation-duration: 0.5s;
    animation-name: fade;

    @media (min-width: 640px) {
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba($color: #000000, $alpha: 0.75);
    font-weight: 500;
  }
  &__items {
    display: flex;
  }
  &__reviews {
    display: flex;
  }
  &__icon {
    & svg {
      width: 0.525rem;
      height: 0.525rem;
      margin-right: 0.5rem;
      color: rgba($color: #000000, $alpha: 0.75);
    }
  }
  &__img {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: -5px;
  }
  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-left: -5px;
    border: 1px solid #fff;
    font-size: 0.875rem;
    color: #fff;
    opacity: 0.9;
  }
}
