  <a href="#" class="card-visit__link card-visit--1">
    <img
      src="../assets/images/singapore.jpg"
      alt="singapore"
      class="card-visit__img"
    />
    <h3 class="card-visit__title">
      <i class="card-visit__icon"></i>
      <div class="card-visit__text">
        <span>Arab Street</span>
        <span>Singapore</span>
      </div>
    </h3>
  </a>
</div>
  <a href="#" class="card-visit__link card-visit--2">
    <img
      src="../assets/images/museum.jpg"
      alt="Museum"
      class="card-visit__img"
    />
    <h3 class="card-visit__title">
      <i class="card-visit__icon"></i>
      <div class="card-visit__text">
        <span>Art Science</span>
        <span>Museum</span>
      </div>
    </h3>
  </a>
  <a href="#" class="card-visit__link card-visit--3">
    <img
      src="../assets/images/fountain.jpg"
      alt="fountain"
      class="card-visit__img"
    />
    <h3 class="card-visit__title">
      <i class="card-visit__icon"></i>
      <div class="card-visit__text">
        <span>Fountain</span>
        <span>of wealth</span>
      </div>
    </h3>
  </a>
